
* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
}

/* encabezado */

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;

}
.contenedor-logo{
    justify-items: center;
}
.index-imagen{
    width: 100vw;
}
.imagen-de-fondo {
    overflow: hidden;
    height: 110vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}
/* Menu */

ul {
    list-style: none;
}

/* .element-list a {
    color: #513D62;
    font-weight: bold;
    text-decoration: none;
    line-height: 3rem;
} */

.contenedor-inscribite, .contenedor-carga, .contenedor-red, .redes-sociales, .imagen-footer {
    display: inline-block;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
 box-shadow: none;
}
.offcanvas {
    background-color: #F4F1C4;
    text-align: center;
}
.offcanvas-body .navbar-nav .nav-item .nav-link {
    color: #513D62;
    font-weight: bold;
}
.contenedor-inicio a {
    color: #513D62;
    font-weight: 600;
    text-decoration: none;
}
/* Frase de inicio */
.titulo-de-inicio{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 30px;
    padding-bottom: 60px;
}
.titulo-de-inicio h1{
    color: #513D62;
    font-weight: bold;
    font-size: 64px;
}
/* Sobre nosotros */
.sobre-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.imagen-sobre-nosotros{
    overflow: hidden;
    height: 350px;
    margin-left: 30px;
}
.texto-sobre-nosotros{
    width: 50%;
    margin-left: 20px;
    margin-right: 30px;
}
.texto-sobre-nosotros h2 {
    color: #513D62;
    font-weight: bold;
    font-size: 46px;
}
.texto-sobre-nosotros p {
    color: #513D62;
    font-weight: bold;
    font-size: 18px;
    text-align: justify;
}
/* Pasos a seguir */
.contenedor-tarjetas-presentacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contenedor-inscribite{
    width: 32%;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
    vertical-align: top;
}
.contenedor-carga{
    width: 32%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}
.contenedor-red{
    width: 32%;
    text-align: center;
    padding-left: 10px;
    padding-right: 30px;
    vertical-align: top;
}
.contenedor-inscribite h3{
    color: #513D62;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
}
.contenedor-inscribite p{
    color: #513D62;
    font-weight: bold;
    font-size: 14px;
    text-align: justify;   
}
.contenedor-carga h3{
    color: #513D62;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
}
.contenedor-carga p{
    color: #513D62;
    font-weight: bold;
    font-size: 14px;
    text-align: justify;
    
}
.contenedor-red h3{
    color: #513D62;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
}
.contenedor-red p{
    color: #513D62;
    font-weight: bold;
    font-size: 14px;
    text-align: justify;   
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    background-color: #513D62;
    padding: 0 30px 0 30px;
}
.redes-sociales a{
    padding-left: 15px;
} 
/*
.footer-iniciosesion {
    position: sticky;
    bottom:  0 !important;
}*/

/* Pagina inicio de sesion */

.body-inicio-sesion {
    width: 100vw;
    height: 110vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.imagen-de-fondo-inicio-sesion {
    overflow: hidden;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.pagina-inicio-sesion{
height: 80vh;
display: flex;
flex-direction: column;
}
.encabezado-inicio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    height: 20%;
    padding-left: 45px;
}
.encabezado-inicio h2{
    color: #513D62;
    font-weight: bold;
    font-size: 46px;
}
.formulario-inicio-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80%;
}
.formulario-inicio {
    background-color:rgba(255, 255, 255, 0.80);
    height: 510px;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 25px;
}
.imagen-logo {
    margin-left: 87px;
    width: 264px;
    height: 50px;
}
.formulario-datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.formulario-input {
    border: none;
    border-bottom: 2px solid #513D62;
    background-color: transparent;
    
}
.formulario--label {
    font-weight: bold;
    font-size: 16px;
    color: #513D62;
}
.formulario-boton {
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.formulario-boton button {
    width: 180px;
    height: 40px;
    background-color: #513D62;
    color: #F4F1C4;
    text-align: justify;
    text-align-last: right;
    border: none;
    padding-right: 10px;
}

/* Pagina de contacto */

.body-contacto {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contacto-imagen-de-fondo{
    overflow: hidden;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.imagen-de-fondo-contacto {
    width: 100%;
    height: auto;
}
.pagina-contacto{
    height: 70vh;
    display: flex;
    flex-direction: column;   
}
.encabezado-contacto {
    height: 20%;
    padding-left: 45px;
}
.encabezado-contacto h2{
    color: #513D62;
    font-weight: bold;
    font-size: 46px;
}
.formulario-pagina-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80%; 
}
.formulario-contacto{
    background-color:rgba(255, 255, 255, 0.80);
    height: 510px;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 25px; 
}
.formulario-texto{
    height: 40px;
    background-color: transparent;
    border: 2px solid #513D62;
}

/* Pagina de Proyectos */

.proyectos-header, .noticias-header{
    margin-top: -175px;
}
.proyectos-encabezado, .noticias-encabezado{
    width: 100vw;
    height: 180px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.proyectos-encabezado-imagen{
    width: 100vw;
    margin: 0;
}
.proyectos-encabezado-texto{
    position: absolute;
    margin-top: -800px;
    margin-left: 30px;
}
.proyectos-encabezado-texto h2{
    color: #513D62;
    font-size: 24px;
    font-weight: 700;
}
/* Seleccion de filtros */
.proyectos-seleccion-filtros{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-content: center;
    margin-top: 110px;
}
.boton-seleccion{
    width: 180px;
    height: 40px;
    background-color: #D9D9D9;
    color: #513D62;
    text-align: justify;
    text-align-last: right;
    border: none;
    border-radius: 0;
    padding-right: 10px;
}

.boton-seleccion:hover, .boton-seleccion:active, .btn-secondary {
    background-color: #D9D9D9;
    color: #513D62;
}
.dropdown-menu{
    border: none;
}

/* Contenedor main de proyectos */
.pagina-proyectos-main {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}
.proyectos-main-proyecto1, .proyectos-main-proyecto2, .proyectos-main-proyecto3, .proyectos-main-proyecto4 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    /* background-color: #D9D9D9; */
}
.proyecto-contenedor-img {
    height: 250px;
    width: inherit;
    display: flex;
    align-items: center;
    border: 1px solid #513D62;
    margin-bottom: 10px;
}
.proyectos-imagen {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.proyecto-contenedor-descripcion{
    display: flex;
    flex-direction: column;
    border: 1px solid #513D62;
    background-color: white
}
.proyecto-contenedor-descripcion p{
    color: #513D62;
    font-size: 12px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}
.proyectos-boton-ver {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
    }
.proyectos-boton-ver button{
    width: 100px;
    height: 26px;
    background-color:#F4F1C4;
    color: #513D62;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: none;
    padding-right: 10px;
}

/* Página Noticias */

.noticias-encabezado-imagen{
    width: 100vw;
    margin: 0;
    height: inherit;
}
.noticias-encabezado-texto{
    display: flex;
    flex-direction: row;
}
.pagina-noticias-main{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
}
.noticias-main-articulos{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    border: 1px solid #513D62;
}
.noticias-articulo-imagen{
    width: 50%;
    object-fit: cover;
    overflow: hidden;
    scale: 80%;
}
.noticias-articulo-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.noticias-articulo-texto p{
    color: #513D62;
    font-size: 14px;
    text-align: justify;
    margin-right: 10px;
}
.noticias-articulo-boton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
}
.noticias-articulo-boton button {
    width: 100px;
    height: 26px;
    background-color:#F4F1C4;
    color: #513D62;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: none;
    padding-right: 10px;  
}







/* media query */
@media (min-width: 501px) {
    .logo-movil{
        display: none;
    }
    .inicio-mobile{
        display: none;
    }
}
@media (max-width: 500px) {
    /* pagina proyectos */
    .logo-desktop{
        display: none;
    }
    .inicio-desktop{
        display: none;
    }
    .proyectos-encabezado-texto{
        margin-top: -180px;
    }
    .proyectos-seleccion-filtros {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .boton-filtro-mobile, .boton-seleccion, .formulario-boton button, .formulario-boton{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 5px;
    }
    .pagina-proyectos-main{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    .dropdown-menu{
        width: 95%;
    }
}
@media (max-width: 500px){
    /* pagina contacto */
    .body-contacto{
        overflow: unset;
        height: auto;
        }
        .pagina-contacto{
            height: 80vh;
        }
        .formulario-pagina-contacto{
        width: 100%;
        }
        .formulario-contacto{
        width: 90%;
        }
        .formulario-boton{
        margin-top: 10px
        }
        .contacto-imagen-de-fondo{
        height: 100%;
        position: absolute;
        z-index: -1;
        }
        .imagen-de-fondo-contacto{
            height: 100vh;
        }
        footer{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
        } 
    }
    @media (max-width: 500px){
         /* Pagina inicio de sesion */
        
         .body-inicio-sesion{
            overflow: unset;
            height: auto;
        }
        .inicio-imagen-de-fondo{
            height: 100%;
            position: absolute;
            z-index: -1; 
        }
        .imagen-de-fondo-inicio-sesion{
            height: 100vh
        }
        .pagina-inicio-sesion{
            height: 80vh;
        }
        .formulario-inicio-sesion{
            width: 100%
        }
        .formulario-inicio{
            width: 90%
        }
        .formulario-inicio-logo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .imagen-logo{
            width: unset;
            height: unset;
        }
    }
    @media (max-width: 500px) {
    
            /* pagina index */
            .body-index {
                width: 100%;
                height: auto;
            }
    
            .index-imagen {
                width: 100vw;
                height: fit-content;
            }
    
            .imagen-de-fondo {
                object-position: 25% 75%;
                object-fit: cover;
            }
    
            .titulo-de-inicio {
                height: 80vh;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 0%;
            }
    
            .titulo-de-inicio h1 {
                font-size: 40px;
            }
    
            .sobre-nosotros {
                margin-top: 160px;
            }
    
            .imagen-sobre-nosotros {
                display: none;
            }
    
            .texto-sobre-nosotros {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                flex-wrap: nowrap;
                align-items: center;
            }
    
            .texto-sobre-nosotros h2 {
                text-align: center;
            }
    
            .texto-sobre-nosotros p {
                width: 90%;
            }
    
            .contenedor-tarjetas-presentacion {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
            }
    
            .contenedor-inscribite {
                width: 80%;
                padding: 0 0 5px 0;
            }
    
            .contenedor-carga {
                width: 80%;
                padding: 0 0 5px 0;
            }
    
            .contenedor-red {
                width: 80%;
                padding: 0 0 5px 0;
            }
    
    }

    @media (max-width: 500px) {
        .pagina-noticias-main{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }
