/* Página Noticias */

.noticias-encabezado {
    width: 100vw;
    height: 180px;
    overflow-x: hidden;
    overflow-y: hidden;

    .noticias-encabezado-imagen {
        width: 100vw;
        margin: 0;
        height: inherit;
    }
}

.noticias-encabezado-texto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-left: 45px;

    h2 {
        color: $color-principal;
        font-weight: bold;
        font-size: 46px;
        margin-top: 35px;
    }
}

.noticias-header{
    margin-top: -175px;
}
.pagina-noticias-main{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 100px;
}
.noticias-main-articulos{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #D9D9D9;
}
.noticias-articulo-imagen{
    width: 50%;
    object-fit: cover;
    overflow: hidden;
    scale: 80%;
}
.noticias-articulo-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

    p {
        color: $color-principal;
        font-size: 14px;
        text-align: justify;
        margin-right: 10px;
    }
}
.noticias-articulo-boton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;

    button {
        width: 100px;
        height: 26px;
        background-color: $color-secundario;
        color: $color-principal;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        border: none;
        padding-right: 10px;

        &:hover{
            color: $color-secundario;
            background-color: $color-principal;
        }
    }
}
