/* variables */
$color-principal: #513D62;
$color-secundario: #F4F1C4;
$font-family: 'Playfair Display', serif;

/* imports*/

@import "./noticiastyle";
@import "./proyectostyle";
@import "./footer";



body {
    overflow-x: hidden;
    margin: 0;
    font-family: $font-family;
}

/* encabezado */

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;

}
.contenedor-logo{
    justify-items: center;
}
.index-imagen{
    width: 100vw;

        .imagen-de-fondo {
        overflow: hidden;
        height: 110vh;
        width: 100%;
        position: absolute;
        z-index: -1;
        }
}

/* Navbar */

ul {
    list-style: none;
}

.navbar-toggler {
    border: none;

        &:focus {
        box-shadow: none;
        }
    }

.offcanvas {
    background-color: $color-secundario;
    text-align: center;

    &-body {
        color: $color-principal;
        font-weight: bold;

        .navbar-nav {

            .nav-item {
        
                .nav-link {
                    color: $color-principal;
                    font-weight: bold;
                }
            }
        }
    }
}

.contenedor-inicio {
    a {
        color: $color-principal;
        font-weight: 600;
        text-decoration: none;
    }
}

/* Frase de inicio */

.titulo-de-inicio {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 30px;
    padding-bottom: 60px;

    h1 {
        color: $color-principal;
        font-weight: bold;
        font-size: 64px;
    }
}

/* Sobre nosotros */

.sobre-nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .imagen-sobre-nosotros {
        overflow: hidden;
        height: 350px;
        margin-left: 30px;
    }
}
    .texto-sobre-nosotros {
        width: 50%;
        margin-left: 20px;
        margin-right: 30px;

        h2 {
            color: $color-principal;
            font-weight: bold;
            font-size: 46px;
            p{
                color: $color-principal;
                font-weight: bold;
                font-size: 46px;
                text-align: justify;
            }
        }
    }
/* Pasos a seguir */

.contenedor-tarjetas-presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor-inscribite {
    width: 32%;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
    vertical-align: top;

    h3 {
        color: $color-principal;
        font-weight: bold;
        font-size: 21px;
        text-align: center;

        p {
            color: $color-principal;
            font-weight: bold;
            font-size: 14px;
            text-align: justify;
        }
    }
}

.contenedor-carga {
    width: 32%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;

    h3 {
        color: $color-principal;
        font-weight: bold;
        font-size: 21px;
        text-align: center;

        p {
            color: $color-principal;
            font-weight: bold;
            font-size: 14px;
            text-align: justify;
        }
    }
}

.contenedor-red {
    width: 32%;
    text-align: center;
    padding-left: 10px;
    padding-right: 30px;
    vertical-align: top;

    h3 {
        color: $color-principal;
        font-weight: bold;
        font-size: 21px;
        text-align: center;

        p {
            color: $color-principal;
            font-weight: bold;
            font-size: 14px;
            text-align: justify;
        }
    }
}
/* Pagina inicio de sesion */

.body-inicio-sesion {
    width: 100vw;
    height: 110vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.imagen-de-fondo-inicio-sesion {
    overflow: hidden;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.pagina-inicio-sesion {
    height: 80vh;
    display: flex;
    flex-direction: column;
    
    &-encabezado {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        height: 20%;
        padding-left: 45px;

        h2 {
            color: $color-principal;
            font-weight: bold;
            font-size: 46px;
        }
    }
}

.formulario-inicio-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80%;
}
.formulario-inicio {
    background-color:rgba(255, 255, 255, 0.80);
    height: 510px;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 25px;
}
.imagen-logo {
    margin-left: 87px;
    width: 264px;
    height: 50px;
}
.formulario-datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;

    .formulario-input {
        border: none;
        border-bottom: 2px solid $color-principal;
        background-color: transparent;

        .formulario-label {
            font-weight: bold;
        
            font-size: 16px;
            color: $color-principal;
        }
    }
}

.formulario-boton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        width: 180px;
        height: 40px;
        background-color: $color-principal;
        color: $color-secundario;
        text-align: justify;
        text-align-last: right;
        border: none;
        padding-right: 10px;
    }
}

/* Pagina de contacto */

.body-contacto {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.pagina-contacto-fondo{
    overflow: hidden;
    width: 100vw;
    position: absolute;
    z-index: -1;
    &-imagen {
        width: 100%;
        height: auto;
    }
}

.pagina-contacto {
    height: 70vh;
    display: flex;
    flex-direction: column;

    &-encabezado {
        height: 20%;
        padding-left: 45px;

        h2 {
            color: $color-principal;
            font-weight: bold;
            font-size: 46px;
        }
    }
}

.pagina-contacto-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 80%;

    &-form {
        background-color: rgba(255, 255, 255, 0.80);
        height: 510px;
        width: 510px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding: 25px;

        .formulario-texto {
            height: 40px;
            background-color: transparent;
            border: 2px solid $color-principal;
        }
    }
}

/* media query */

@media (min-width: 501px) {
    .logo-movil{
        display: none;
    }
    .inicio-mobile{
        display: none;
    }
}

@mixin estilo_boton_mediaq {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    /* pagina proyectos */
    .logo-desktop{
        display: none;
    }
    .inicio-desktop{
        display: none;
    }
    .proyectos-encabezado-texto{
        margin-top: -180px;
    }
    .proyectos-seleccion-filtros {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .boton-filtro-mobile{
        @include estilo_boton_mediaq()
    } 
    .boton-seleccion{
        @include estilo_boton_mediaq()
    } 
    .formulario-boton {
        button{
            @include estilo_boton_mediaq()
        }
    }
    .formulario-boton{
      @include estilo_boton_mediaq()
    }

    .pagina-proyectos-main{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    .dropdown-menu{
        width: 95%;
    }
}
@media (max-width: 500px){
    /* pagina contacto */
    .body-contacto{
        overflow: unset;
        height: auto;
        }
        .pagina-contacto{
            height: 80vh;
        }
        .formulario-pagina-contacto{
        width: 100%;
        }
        .formulario-contacto{
        width: 90%;
        }
        .formulario-boton{
        margin-top: 10px
        }
        .contacto-imagen-de-fondo{
        height: 100%;
        position: absolute;
        z-index: -1;
        }
        .imagen-de-fondo-contacto{
            height: 100vh;
        }
        footer{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
        } 
    }
    @media (max-width: 500px){
         /* Pagina inicio de sesion */
        
        .body-inicio-sesion {
                overflow: unset;
                height: auto;
            }
        
            .inicio-imagen-de-fondo {
                height: 100%;
                position: absolute;
                z-index: -1;
        
                .imagen-de-fondo-inicio-sesion {
                    height: 100vh
                }
            }
        
            .pagina-inicio-sesion {
                height: 80vh;
            }
        
            .formulario-inicio-sesion {
                width: 100%;
        
                .formulario-inicio {
                    width: 90%;
        
                    .imagen-logo {
                        width: unset;
                        height: unset;
        
                    }
        
                }
        
            }
    }
    @media (max-width: 500px) {
    
            /* pagina index */
            .body-index {
                width: 100%;
                height: auto;
            }
    
            .index-imagen {
                width: 100vw;
                height: fit-content;
            }
    
            .imagen-de-fondo {
                object-position: 25% 75%;
                object-fit: cover;
            }
    
            .titulo-de-inicio {
                height: 80vh;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 0%;
                h1{
                    font-size: 40px;
                }
            }
    
            .sobre-nosotros {
                margin-top: 160px;
            }
    
            .imagen-sobre-nosotros {
                display: none;
            }
    
            .texto-sobre-nosotros {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                flex-wrap: nowrap;
                align-items: center;
                h2{
                    text-align: center;  
                    p{
                        width: 90%;
                    }
                }
            }

            .contenedor-tarjetas-presentacion {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
            }
    
            .contenedor-inscribite {
                width: 80%;
                padding: 0 0 5px 0;
            }
    
            .contenedor-carga {
                width: 80%;
                padding: 0 0 5px 0;
            }
    
            .contenedor-red {
                width: 80%;
                padding: 0 0 5px 0;
            }
    
    }

    @media (max-width: 500px) {
        .pagina-noticias-main{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }
